@font-face {
	font-family: "Sora-Bold";
	src: local("Georama"), url('/assets/fonts/Sora-Bold.ttf') format("truetype");
}

@font-face {
	font-family: "Sora-Light";
	src: local("Georama"), url('/assets/fonts/Sora-Light.ttf') format("truetype");
}

@font-face {
	font-family: "Sora-Medium";
	src: local("Georama"), url('/assets/fonts/Sora-Medium.ttf') format("truetype");
}

@font-face {
	font-family: "Sora-Regular";
	src: local("Georama"), url('/assets/fonts/Sora-Regular.ttf') format("truetype");
}

@font-face {
	font-family: "Sora-SemiBold";
	src: local("Georama"), url('/assets/fonts/Sora-SemiBold.ttf') format("truetype");
}

@font-face {
	font-family: "Sora-Thin";
	src: local("Georama"), url('/assets/fonts/Sora-Thin.ttf') format("truetype");
}

:root {
	--content-primary: #0B0A0B;
	--content-secondary: #636363;
	--content-terciary: #FFFFFF;
	--background-primary: #FFFBF6;
	--background-secondary: #dbd8f0;
	--background-terciary: #FFF2E5;
	--cta-primary: #ff6537;
	--cta-primary-hover: #e7592d;

	--border-primary: #0B0A0B;
	--border-primary-focus: #ff6537;

	--border-secondary: #B9B9B9;

    --error: #e01717;

	--border-width: 3px;

	--border-radius: 12px;

	--padding-mobile: 2rem;

	--h1: 3.5rem;
	--h2: 2.5rem;
	--h3: 2rem;
	--h4: 1.4rem;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

*:link {
	text-decoration: none;
	color: var(--content-primary);
}

*:visited {
	text-decoration: none;
	color: var(--content-primary);
}

body {
	font-family: Sora-Regular, sans-serif;
	background-color: var(--background-primary);
	background-size: contain;
	color: var(--content-primary);
}

h1 {
	font-family: Sora-Bold, sans-serif;
	font-size: var(--h1);
}

h2 {
	font-family: Sora-SemiBold, sans-serif;
	font-size: var(--h2);
	margin-bottom: 10rem;
}

h3 {
	font-family: Sora-Medium, sans-serif;
	font-size: var(--h3);
}

h4 {
	font-family: Sora-Regular, sans-serif;
	font-size: var(--h4);
	line-height: 2.5rem;
}

h5 {
	font-family: Sora-Light, sans-serif;
}

p {
	line-height: 2.5rem;
}

ul {
	list-style: none;
}

.section {
	padding: 0 var(--padding-mobile);
	margin-top: 16rem;
	overflow: hidden;

	&:last-child {
		margin-bottom: 16rem;
	}
}

.section:first-child, .homepageHeader {
	margin-top: 0;
}

.footer {
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: end;
	background-color: var(--background-terciary);
}

.primaryButton {
    border-style: none;
	display: inline-flex;
	color: var(--content-terciary);
	font-family: 'Sora-SemiBold', sans-serif;
	background-color: var(--cta-primary);
	padding: 1rem 2rem;
	border-radius: var(--border-radius);
	justify-content: center;
	align-items: center;
	align-self: flex-start;

	transition: background-color 0.3s cubic-bezier(0.07, 0.29, 0.2, 1.01);



	&>svg, &>img {
		margin-right: .6rem;
	}

	&:hover {
		cursor: pointer;
		background-color: var(--cta-primary-hover);
		transition: background-color 0.3s cubic-bezier(0.07, 0.29, 0.2, 1.01);
	}
}


.cardProject {
	cursor: pointer;

	&__imageContainer {

	}

	&__image {
		width: 100%;
		image-rendering: -webkit-optimize-contrast;
	}

	&__content {
		&__category {
			color: var(--content-secondary);
			margin: 1rem 0 1rem 0;
		}

		&__title {

		}
	}
}


.footer__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;

	&__title {
		margin-bottom: 2rem;
	}

	&__email {
		margin-bottom: .5rem;
		text-decoration: underline;
	}

	&__copyright {

	}
}


.realisationExplanationsContainer {
	overflow: hidden;

	& > section {
		max-width: calc( 100vw - var(--padding-mobile) );
	}

	&__imageContainer {

		&__image {
			max-width: 70vw;
		}
	}
}


// ------------- COMPONENTS -------------
@import "components/form";


// ------------- VIEWS -------------
@import "views/homepage";
@import "views/project-article";
@import "views/auth";



@media screen and (min-width: 500px) {
	.projectArticle__content__imageContainer__image {
		position: inherit;
		left: 0;
		width: 100%;
	}
}

@media screen and (min-width: 800px) {
	:root {
		--padding-mobile: 4rem;
	}


	.homepageHeader {
		&__animation {
			bottom: unset;
			left: unset;
			right: 0rem;
			width: 20vw;
		}

		&__arrow {
			display: block;
			position: absolute;
			bottom: 1rem;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.projectArticle {
		width: 80%;
		margin: auto;
	}

	.homepageProjects {

		&__projectsContainer {
			grid-template-columns: repeat(2, 1fr);
			gap: 4rem;
		}
	}

	.modalProject {
		width: 60%;

		&__closeButton {
			top: 2rem;
			right: 2rem;

		}
	}
}

@media screen and (min-width: 1400px) {
	:root {
		--padding-mobile: 10rem;
	}

	.projectArticle {
		width: 60%;
		margin: auto;
	}


	.homepageMyselfPresentation {
		grid-template-columns: repeat(2, 1fr);

		&__image {
			height: 100%;
		}
	}

	.homepageProjects {

		&__projectsContainer {
			grid-template-columns: repeat(3, 1fr);
			gap: 6rem;
		}
	}
}
