.field {
    margin-bottom: 2rem;
    width: 100%;

    label {
        display: inline-block;
        width: 100%;
        margin-bottom: .6rem;
    }

    input {
        width: 100%;
        display: inline-block;
    }

    .error {
        margin-top: .6rem;
        color: var(--error)
    }
}

input {
    background-color: var(--background-primary);
    border: solid 2px var(--border-primary);
    padding: .6rem 1rem;
    border-radius: 12px;
    transition: border .2s ease-out;

    &:focus {
        outline: none !important;
        border: solid 2px var(--border-primary-focus);
        transition: border .2s ease-out;
    }
}
